<a href="https://colab.research.google.com/github/sharanya1234567/Sharanya-Vemula/blob/main/day1(6_6_24).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python Functions

In [ ]:
def my_function(fname):
  print(fname + " Williams")

my_function("Joseph")
my_function("Tina")
my_function("Robert")

Joseph Williams
Tina Williams
Robert Williams

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function(" Joseph", "Tina", "Robert")

The youngest child is Robert

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = " Joseph", child2 = "Tina", child3 = "Robert")

The youngest child is Robert

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tina", lname = "Robert")

His last name is Robert

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
def is_prime(n):
    if n in [2, 3]:
        return True
    if (n == 1) or (n % 2 == 0):
        return False
    r = 3
    while r * r <= n:
        if n % r == 0:
            return False
        r += 2
    return True
print(is_prime(78), is_prime(79))

False True

In [ ]:
def evenOdd(x):
    if (x % 2 == 0):
        print("even")
    else:
        print("odd")

evenOdd(2)
evenOdd(3)

even
odd

In [ ]:
def myFun(x, y=50):
    print("x: ", x)
    print("y: ", y)

myFun(10)

x:  10
y:  50

In [ ]:
def student(firstname, lastname):
    print(firstname, lastname)

student(firstname='Sharanya', lastname='vemula')
student(lastname='Sree', firstname='Meenu')

Sharanya vemula
Meenu Sree

In [ ]:
def nameAge(name, age):
    print("Hi, I am", name)
    print("My age is ", age)


print("Case-1:")
nameAge("Jathin", 27)

print("\nCase-2:")
nameAge(27, "Jathin")

Case-1:
Hi, I am Jathin
My age is  27

Case-2:
Hi, I am 27
My age is  Jathin

In [ ]:
 def myFun(*argv):
    for arg in argv:
        print(arg)


myFun('Hello', 'Welcome', 'to', 'Hyderabad')

Hello
Welcome
to
Hyderabad

In [ ]:
def myFun(**kwargs):
    for key, value in kwargs.items():
        print("%s == %s" % (key, value))

myFun(first='William', mid='James', last='Bond')

first == William
mid == James
last == Bond

In [ ]:
def calculate_area(length, width):
  """This function calculates the area of a rectangle."""
  return length * width


area = calculate_area(5, 3)
print(area)

15

In [2]:
def full_name(first, last, *, middle=""):

  return first + " " + middle + " " + last


print(full_name(first="Vanshika", last="Singh", middle="J."))

print(full_name("Shubhdeep", "Sidhu", middle="Singh"))

Vanshika J. Singh
Shubhdeep Singh Sidhu

In [1]:
def divide(dividend, *, divisor=1):
  return dividend / divisor

print(divide(dividend=10, divisor=2))

5.0

In [3]:
def shout(text):

  return text.upper()

def whisper(text):

  return text.lower()

def modify_text(text, func):

  return func(text)


yelled_text = modify_text("Hello world!", shout)
print(yelled_text)

whispered_text = modify_text("HELLO WORLD!", whisper)
print(whispered_text)

HELLO WORLD!
hello world!

In [ ]:
add = lambda x, y: x + y

result = add(5, 3)
print(result)

In [ ]:
greeting = lambda name: f"Hello, {name}!"

print(greeting("J"))

In [ ]:
words = ["apple", "banana", "mango", "grapes"]
sorted_words = sorted(words, key=lambda word: len(word))

print(sorted_words)

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]

even_numbers = filter(lambda x: x % 2 == 0, numbers)

print(list(even_numbers))

In [ ]:
from functools import reduce

numbers = [1, 2, 3, 4]

product = reduce(lambda x, y: x * y, numbers)

print(product)

In [ ]:
product = 1
for num in numbers:
  product *= num

print(product)

In [ ]:
x = 10

def my_function():
  y = 20
  print("Inside function:", x, y)

  def inner_function():
    z = 30
    print("Inside inner function:", x, y, z)
  inner_function()

print("Outside function:", x)

my_function()

In [ ]:
numbers = [1, 2, 3, 4, 5]

squared_numbers = map(lambda x: x * x, numbers)

print(list(squared_numbers))

In [ ]:
def square(x):

  return x * x

result = square(5)
print(result)

In [ ]:
def get_name_and_age():

  name = "J"
  age = 30
  return name, age

person_info = get_name_and_age()
name, age = person_info

print(name, age)

In [ ]:
MIN_GRADE = 70

def analyze_grades(names, grades):


  total_grade = 0
  failing_students = []


  for name, grade in zip(names, grades):
    total_grade += grade


    is_failing = lambda g: g < MIN_GRADE

    if is_failing(grade):
      failing_students.append(name)


  average = total_grade / len(grades)


  return average, failing_students


student_names = ["J", "Ishu", "Lakshay", "Avi"]
student_grades = [85, 60, 90, 75]


average_grade, failing_list = analyze_grades(student_names, student_grades)

print("Average Grade:", average_grade)
print("Failing Students:", failing_list)

In [ ]:
#Array Operations and Broadcasting:
#Given a 3D array a with shape (2, 3, 4) and a 2D array b with shape (3, 4), perform element-wise multiplication between a and b using broadcasting.


import numpy as np


a = np.random.rand(2, 3, 4)

b = np.random.rand(3, 4)

result = a * b
print(result)

In [ ]:
#Implement a function that takes two 2D arrays c and d with different shapes and performs element-wise operations (addition, subtraction, multiplication, and division) between them using broadcasting. Handle the case where broadcasting is not possible.

import numpy as np

def elementwise_operations(c, d):
    try:
        add = c + d
        print("Addition:\n", addition)


        sub = c - d
        print("Subtraction:\n", subtraction)


        mul = c * d
        print("Multiplication:\n", multiplication)


        div = c / d
        print("Division:\n", division)

    except ValueError as e:
        print("Error:", e)


c = np.random.rand(3, 4)
d = np.random.rand(1, 4)

elementwise_operations(c, d)

In [ ]:
#Create a 2D array e with shape (5, 3) and a 1D array f with length 5. Compute the outer product of e and f using broadcasting.#

import numpy as np

e = np.random.rand(5, 3)
f = np.random.rand(5)


outer_product = e * f[:, np.newaxis]

#
print("2D array", e)
print("1D array", f)
print("Outer product", outer_product)

In [ ]:
#Given a 3D array g with shape (4, 3, 2), extract every other element along the first and second dimensions, but keep all elements along the third dimension.

import numpy as np


g = np.random.rand(4, 3, 2)

result = g[::2, ::2, :]
print("Original array g:\n", g)
print("Extracted array:\n", result)

In [ ]:
#Create a function that takes a 2D array h and an array of row indices i and column indices j. The function should return a new array k where k[m, n] is the sum of the elements in h along the diagonal specified by i[m] and j[n].


import numpy as np

def diagonal_sum(h, i, j):

    k = np.zeros((len(i), len(j)))


    for m in range(len(i)):
        for n in range(len(j)):

            diag_indices = np.diag_indices(min(h.shape))
            k[m, n] = np.sum(h[i[m]:i[m]+1, j[n]:j[n]+1][diag_indices])

    return k


h = np.array([[1, 2, 3],
              [4, 5, 6],
              [7, 8, 9]])

i = np.array([0, 1, 2])
j = np.array([0, 1, 2])

result = diagonal_sum(h, i, j)
print("Result:\n", result)

In [ ]:
#Implement a function that takes a 2D array l and returns a new array m where each element in m is the product of the corresponding row and column means in l.

import numpy as np

def row_column_means_product(l):

    row_means = np.mean(l, axis=1, keepdims=True)


    column_means = np.mean(l, axis=0, keepdims=True)


    m = row_means * column_means

    return m


l = np.array([[1, 2, 3],
              [4, 5, 6],
              [7, 8, 9]])

result = row_column_means_product(l)
print("Result:\n", result)

In [ ]:
#Given a 2D array n with shape (4, 6), reshape it into a 3D array with shape (2, 2, 6) and then flatten it back to a 2D array with shape (4, 6).

import numpy as np


n = np.random.rand(4, 6)


reshaped_n = np.reshape(n, (2, 2, 6))


flattened_n = np.flatten(reshaped_n)

print("Original array shape:", n.shape)
print("Reshaped array shape:", reshaped_n.shape)
print("Flattened array shape:", flattened_n.shape)

In [ ]:
#Implement a function that takes a 2D array o and rolls it along the first axis by a specified number of positions. For example, if the input array is [[1, 2, 3], [4, 5, 6]] and the number of positions is 1, the output should be [[4, 5, 6], [1, 2, 3]].

import numpy as np

def roll_array_first_axis(o, positions):

    rolled_array = np.roll(o, positions, axis=0)
    return rolled_array


o = np.array([[1, 2, 3],
              [4, 5, 6]])

positions = 1
result = roll_array_first_axis(o, positions)
print("Original array:\n", o)
print("Rolled array:\n", result)

In [ ]:
#Create a function that takes a 2D array p and replaces all occurrences of a specified value x with the mean of the neighboring elements (horizontally and vertically) in the array.

import numpy as np

def replace_with_neighbor_mean(p, x):

    indices = np.where(p == x)


    for i, j in zip(indices[0], indices[1]):

        neighbor_mean = np.mean([
            p[i-1, j] if i > 0 else 0,
            p[i+1, j] if i < p.shape[0]-1 else 0,
            p[i, j-1] if j > 0 else 0,
            p[i, j+1] if j < p.shape[1]-1 else 0
        ])


        p[i, j] = neighbor_mean

    return p


p = np.array([[1, 2, 3],
              [4, 5, 6],
              [7, 8, 9]])

x = 5
result = replace_with_neighbor_mean(p, x)
print("Result:\n", result)

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

In [ ]:
def add(num1: int, num2: int) -> int:

    num3 = num1 + num2

    return num3

num1, num2 = 5, 15
ans = add(num1, num2)
print(f"The addition of {num1} and {num2} results {ans}.")