<a href="https://colab.research.google.com/github/sharanya1234567/Sharanya-Vemula/blob/main/Day2(7_6_24).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### OOPS Concept

In [1]:
class MyClass:
    pass

obj = MyClass()

In [2]:
class MyClass:

    def increment(self):
        if not hasattr(self, 'instance_var'):
            self.instance_var = 0
        self.instance_var += 1
        return self.instance_var

obj = MyClass()

print(obj.increment())
print(obj.increment())

1
2

In [3]:
class MyClass:
    class_var = 0

    def increment(self):
        MyClass.class_var += 1

obj1 = MyClass()
obj2 = MyClass()
print(MyClass.class_var)
obj1.increment()
print(MyClass.class_var)
obj2.increment()
print(MyClass.class_var)

0
1
2

In [5]:
class MyClass:
    def my_method(self):
        print("This is a normal method.")

obj = MyClass()
obj.my_method()

This is a normal method.

In [6]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age


person1 = Person("Alice", 25)
print(person1.name)
print(person1.age)

Alice
25

In [7]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f"{self.name} ({self.age})"


person1 = Person("Alice", 25)
print(person1)
print(str(person1))

Alice (25)
Alice (25)

In [8]:
class Person:
    def __new__(cls, *args, **kwargs):
        print("Creating a new instance of Person")
        return super(Person, cls).__new__(cls)

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f"{self.name} ({self.age})"


person1 = Person("Alice", 25)
print(person1)

Creating a new instance of Person
Alice (25)

In [11]:
class MyClass:
    def __init__(self):
        print("Constructor called")

    def __del__(self):
        print("Deconstructor called")

obj = MyClass()


class MyClass:
    def __init__(self):
        self.data = 0

obj = MyClass()
print(obj.data)

Constructor called
Deconstructor called
0

In [10]:
class MyClass:
    def __init__(self, value):
        self.data = value

obj = MyClass(10)
print(obj.data)

10

In [12]:
class MyClass:
    def __init__(self, value=0):
        self.data = value

obj1 = MyClass()
print(obj1.data)
obj2 = MyClass(20)
print(obj2.data)

0
20

In [13]:
class MyClass:
    def __init__(self, value):
        self.data = value

    def update(self, other):
        self.data += other.data
obj1 = MyClass(10)
obj2 = MyClass(20)

obj1.update(obj2)
print(obj1.data)

30

In [14]:
class MyClass:
    def my_method(self, arg1, arg2=0):
        print(f"arg1: {arg1}, arg2: {arg2}")

obj = MyClass()
obj.my_method(10)
obj.my_method(10, 20)

arg1: 10, arg2: 0
arg1: 10, arg2: 20

In [15]:
class MyClass:
    def __init__(self):
        self.__private_var = 0

    def get_private_var(self):
        return self.__private_var

    def set_private_var(self, value):
        self.__private_var = value

obj = MyClass()

print(obj.get_private_var())

obj.set_private_var(10)
print(obj.get_private_var())

0
10

In [16]:
class Employee:
    def __init__(self, name, age, salary):

        self.name = name
        self.age = age


        self.__salary = salary

    def get_salary(self):

        return self.__salary

    def set_salary(self, new_salary):

        if new_salary > 0:
            self.__salary = new_salary
        else:
            print("Invalid salary")


employee = Employee("John", 30, 5000)


print(employee.get_salary())


employee.set_salary(6000)


print(employee.get_salary())

5000
6000

In [17]:
class MyClass:
    def __init__(self):

        self.__hidden_var = 0

    def get_hidden_var(self):

        return self.__hidden_var
    def set_hidden_var(self, value):

        self.__hidden_var = value


obj = MyClass()

obj.set_hidden_var(10)

print(obj.get_hidden_var())

10

In [18]:

class Person(object):


    def __init__(self, name, idnumber):
        self.name = name
        self.idnumber = idnumber

    def display(self):
        print(self.name)
        print(self.idnumber)

    def details(self):
        print("My name is {}".format(self.name))
        print("IdNumber: {}".format(self.idnumber))


class Employee(Person):
    def __init__(self, name, idnumber, salary, post):
        self.salary = salary
        self.post = post


        Person.__init__(self, name, idnumber)

    def details(self):
        print("My name is {}".format(self.name))
        print("IdNumber: {}".format(self.idnumber))
        print("Post: {}".format(self.post))



a = Employee('Sharanya', 886012, 200000, "Intern")


a.display()
a.details()

Sharanya
886012
My name is Sharanya
IdNumber: 886012
Post: Intern

In [19]:
class Bird:

    def intro(self):
        print("There are many types of birds.")

    def flight(self):
        print("Most of the birds can fly but some cannot.")

class sparrow(Bird):

    def flight(self):
        print("Sparrows can fly.")

class ostrich(Bird):

    def flight(self):
        print("Ostriches cannot fly.")

obj_bird = Bird()
obj_spr = sparrow()
obj_ost = ostrich()

obj_bird.intro()
obj_bird.flight()

obj_spr.intro()
obj_spr.flight()

obj_ost.intro()
obj_ost.flight()

There are many types of birds.
Most of the birds can fly but some cannot.
There are many types of birds.
Sparrows can fly.
There are many types of birds.
Ostriches cannot fly.

In [20]:
class car:
    def __init__(self,modelname, year):
        self.modelname = modelname
        self.year = year
    def display(self):
        print(self.modelname,self.year)

c1 = car("Mahendra", 2016)
c1.display()

Mahendra 2016

In [21]:
class Human:

    species = "Homo Sapiens"
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

x = Human("Ron", 15, "Male")
y = Human("Miley", 22, "Female")
print(x.name)
print(y.name)

Ron
Miley

In [22]:
class Human:

    species = "Homo Sapiens"
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

Human.species = "Sapiens"
obj = Human("Brek",11,"male")
print(obj.species)

Sapiens

In [23]:
class Human:

    species = "Homo Sapiens"
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender


    def speak(self):
        return f"Hello everyone! I am {self.name}"


    def eat(self, favouriteDish):
        return f"I love to eat {favouriteDish}!!!"

x = Human("Ciri",18,"female")
print(x.speak())
print(x.eat("momos"))

Hello everyone! I am Ciri
I love to eat momos!!!

In [24]:
class Human:     #parent class
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

    def description(self):
        print(f"Hey! My name is {self.name}, I'm a {self.gender} and I'm {self.age} years old")

class Boy(Human):    #child class
    def schoolName(self, schoolname):
        print(f"I study in {schoolname}")


b = Boy('John', 15, 'male')
b.description()
b.schoolName("Sunshine Model School")

Hey! My name is John, I'm a male and I'm 15 years old
I study in Sunshine Model School

In [25]:
class Human:
    def __init__(self,name,age,gender):
        self.name = name
        self.age = age
        self.gender = gender
    def description(self):
        print(f"Hey! My name is {self.name}, I'm a {self.gender} and I'm {self.age} years old")

    def dance(self):
        print("I can dance")

class Girl(Human):
    def dance(self):
        print("I can do classic dance")
    def activity(self):
        super().dance()
g = Girl('Lily', 20, 'girl')
g.description()
g.activity()

Hey! My name is Lily, I'm a girl and I'm 20 years old
I can dance

In [26]:
print(len('deepa'))
print(len([1,2,5,9]))
print(len({'1':'apple','2':'cherry','3':'banana'}))

5
4
3

In [27]:
class Monkey:
    def color(self):
        print("The monkey is yellow coloured!")

    def eats(self):
        print("The monkey eats bananas!")


class Rabbit:
    def color(self):
        print("The rabbit is white coloured!")

    def eats(self):
        print("The rabbit eats carrots!")


mon = Monkey()
rab = Rabbit()
for animal in (mon, rab):
    animal.color()
    animal.eats()

The monkey is yellow coloured!
The monkey eats bananas!
The rabbit is white coloured!
The rabbit eats carrots!