<a href="https://colab.research.google.com/github/sharanya1234567/Sharanya-Vemula/blob/main/Day3(8_6_24).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Inheritance

In [ ]:
class ParentClass:
    def prent_nethod(self):
        print("This parent method")

class ChildClass(ParentClass):
    def child_method(self):
        print("This is child method")

object = ChildClass()
object.prent_nethod()
object.child_method()

This parent method
This is child method

In [ ]:
class Animal:
  def make_sound(self):
    print("Generic animal sound")

class Dog(Animal):
  def make_sound(self):
    print("Woof!")

class Cat(Animal):
  def make_sound(self):
    print("Meow!")

class Poodle(Dog):  # Poodle inherits from Dog
  pass

animals = [Animal(), Dog(), Cat(), Poodle()]
for animal in animals:
  animal.make_sound()

Generic animal sound
Woof!
Meow!
Woof!

In [ ]:
# Base class
class Parent:
    def func1(self):
        print("This function is in parent class.")

# Derived class


class Child(Parent):
    def func2(self):
        print("This function is in child class.")


# Driver's code
object = Child()
object.func1()
object.func2()

This function is in parent class.
This function is in child class.

In [ ]:
class Mother:
    mothername = ""

    def mother(self):
        print(self.mothername)

# Base class2


class Father:
    fathername = ""

    def father(self):
        print(self.fathername)

# Derived class


class Son(Mother, Father):
    def parents(self):
        print("Father :", self.fathername)
        print("Mother :", self.mothername)


# Driver's code
s1 = Son()
s1.fathername = "RAM"
s1.mothername = "SITA"
s1.parents()

Father : RAM
Mother : SITA

In [ ]:
class Grandfather:

	def __init__(self, grandfathername):
		self.grandfathername = grandfathername


class Father(Grandfather):
	def __init__(self, fathername, grandfathername):
		self.fathername = fathername


		Grandfather.__init__(self, grandfathername)


class Son(Father):
	def __init__(self, sonname, fathername, grandfathername):
		self.sonname = sonname


		Father.__init__(self, fathername, grandfathername)

	def print_name(self):
		print('Grandfather name :', self.grandfathername)
		print("Father name :", self.fathername)
		print("Son name :", self.sonname)



s1 = Son('Prince', 'Rampal', 'Lal mani')
print(s1.grandfathername)
s1.print_name()

Lal mani
Grandfather name : Lal mani
Father name : Rampal
Son name : Prince

In [ ]:
# Base class
class Parent:
	def func1(self):
		print("This function is in parent class.")

# Derived class1
class Child1(Parent):
	def func2(self):
		print("This function is in child 1.")

# Derivied class2
class Child2(Parent):
	def func3(self):
		print("This function is in child 2.")


# Driver's code
object1 = Child1()
object2 = Child2()
object1.func1()
object1.func2()
object2.func1()
object2.func3()

This function is in parent class.
This function is in child 1.
This function is in parent class.
This function is in child 2.

In [ ]:
class School:
	def func1(self):
		print("This function is in school.")


class Student1(School):
	def func2(self):
		print("This function is in student 1. ")


class Student2(School):
	def func3(self):
		print("This function is in student 2.")


class Student3(Student1, School):
	def func4(self):
		print("This function is in student 3.")

In [ ]:
class Shape:

  def area(self):
    raise NotImplementedError("Subclasses must implement area()")

In [ ]:
class Square(Shape):

  def __init__(self, side):
    self.side = side

  def area(self):
    #Calculates area of square
    return self.side * self.side

class Circle(Shape):

  def __init__(self, radius):
    self.radius = radius

  def area(self):
    #Calculates area of circle
    return 3.14 * self.radius * self.radius

# Create objects of Square and Circle
square = Square(5)
circle = Circle(3)


# Call the overridden area method from each subclass
print(f"Area of square: {square.area()}")
print(f"Area of circle: {circle.area()}")

Area of square: 25
Area of circle: 28.259999999999998

In [ ]:
class Shape:

  def info(self):
    print(f"I am a {type(self).__name__}.")

class ColoredShape(Shape):

  def __init__(self):
    pass

  def info(self):
    super().info() # Call info from Shape
    print(f"I am also colored.")

class RedSquare(ColoredShape):

  # No __init__ defined here

  def info(self):
    super().info()  # Call info from ColoredShape
    print(f"I am a red square.")

# Create objects (these won't have color set since ColoredShape lacks __init__)
red_square = RedSquare()

red_square.info()

I am a RedSquare.
I am also colored.
I am a red square.

In [ ]:
class Emp():
    def __init__(self, id, name, Add):
        self.id = id
        self.name = name
        self.Add = Add

# Class freelancer inherits EMP
class Freelance(Emp):
    def __init__(self, id, name, Add, Emails):
        super().__init__(id, name, Add)
        self.Emails = Emails

Emp_1 = Freelance(103, "Suraj kr gupta", "Noida" , "SKG@gmails")
print('The ID is:', Emp_1.id)
print('The Name is:', Emp_1.name)
print('The Address is:', Emp_1.Add)
print('The Emails is:', Emp_1.Emails)

The ID is: 103
The Name is: Suraj kr gupta
The Address is: Noida
The Emails is: SKG@gmails

In [ ]:
class Animal:
    def __init__(self, species):
        self.species = species

    def __str__(self):
        return f"I am a {self.species}"

# Child class inherits Parent class(Animal)
class Dog(Animal):
    def __init__(self, breed):
        super().__init__("dog")
        self.breed = breed

    def __str__(self):
        return super().__str__() + f" of breed {self.breed}"

# Creating an instance of Dog
my_dog = Dog("Labrador")

# Printing the Dog instance
print(my_dog)

I am a dog of breed Labrador

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)
x = Person("John", "Doe")
x.printname()

John Doe

In [ ]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2019)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

In [ ]:
class SuperClass:

    def super_method(self):
        print("Super Class method called")


class DerivedClass1(SuperClass):
    def derived1_method(self):
        print("Derived class 1 method called")
class DerivedClass2(DerivedClass1):

    def derived2_method(self):
        print("Derived class 2 method called")


d2 = DerivedClass2()

d2.super_method()

d2.derived1_method()
d2.derived2_method()

Super Class method called
Derived class 1 method called
Derived class 2 method called

In [ ]:
class SuperClass1:
    def info(self):
        print("Super Class 1 method called")

class SuperClass2:
    def info(self):
        print("Super Class 2 method called")

class Derived(SuperClass1, SuperClass2):
    pass

d1 = Derived()
d1.info()

Super Class 1 method called

In [ ]:
class School:
    def func1(self):
        print("This function is in school.")


class Student1(School):
    def func2(self):
        print("This function is in student 1. ")


class Student2(School):
    def func3(self):
        print("This function is in student 2.")


class Student3(Student1, School):
    def func4(self):
        print("This function is in student 3.")


object = Student3()
object.func1()
object.func2()

This function is in school.
This function is in student 1.

### Exception Handling

In [20]:
try:
    x = 10
    y = 0
    result = x / y
    print(result)
except ZeroDivisionError:
    print("Error: Cannot divide by zero!")

Error: Cannot divide by zero!

In [21]:
try:
    x = 10
    y = 0
    result = x / y
    print(result)

except ZeroDivisionError:
    print("Error: Cannot divide by zero!")

except ValueError:
    print("Error: Invalid value!")

Error: Cannot divide by zero!

In [25]:
try:
    x=5
    if x == 5:
        print("x is equal to 5")
except SyntaxError:
    print("SyntaxError occurred")

x is equal to 5

In [23]:
try:
    # Code that passes an invalid value to a function
    int("hello")  # The string "hello" cannot be converted to an integer
except ValueError:
    print("ValueError occurred")

ValueError occurred

In [26]:
class InvalidAgeError(Exception):
    """Raised when the input age is invalid"""
    pass

def validate_age(age):
    if age < 0:
        raise InvalidAgeError("Age cannot be negative")
    elif age > 120:
        raise InvalidAgeError("Age cannot be greater than 120")
    else:
        print("Valid age")

try:
    validate_age(-5)
except InvalidAgeError:
    print("Invalid age provided")

Invalid age provided

In [27]:
try:
    x = 10 / 0  # This will raise a ZeroDivisionError
except ZeroDivisionError:
    print("Can't divide by zero!")

Can't divide by zero!

In [28]:
try:
    x = int(input("Enter a number: "))
    y = 10 / x
except ValueError:
    print("Invalid input! Please enter a number.")
except ZeroDivisionError:
    print("Can't divide by zero!")
else:
    print(f"Result: {y}")

Enter a number: 6
Result: 1.6666666666666667

In [30]:
try:

    result = 10 / 0
except ZeroDivisionError as e:
    print("Error:", e)
    print("Type:", type(e))
    print("Details:", e.args)

Error: division by zero
Type: <class 'ZeroDivisionError'>
Details: ('division by zero',)

In [31]:
def divide_numbers(x, y):
    if y == 0:
        raise ValueError("Cannot divide by zero")
    return x / y

try:
    result = divide_numbers(10, 0)
except ValueError as e:
    print("Error:", e)

Error: Cannot divide by zero

In [32]:
class CustomError(Exception):
    pass

def check_value(x):
    if x < 0:
        raise CustomError("Value cannot be negative")

try:
    check_value(-5)
except CustomError as e:
    print("Custom error occurred:", e)

Custom error occurred: Value cannot be negative

In [33]:
def divide(x, y):
    try:
        result = x / y
        print("Result:", result)
    except ZeroDivisionError:
        print("Cannot divide by zero")


divide(10, 0)

Cannot divide by zero

In [34]:
def process_data(data):
    try:
        result = 10 / data
    except ZeroDivisionError:
        raise ValueError("Invalid data") from None

try:
    process_data(0)
except ValueError as e:
    print("Error:", e)

Error: Invalid data

In [35]:
def main():
    try:
        result = 10 / 0
    except ZeroDivisionError :
        print("An error occurred: Cannot divide by zero")

if __name__ == "__main__":
    main()

An error occurred: Cannot divide by zero

In [36]:
def divide(x, y):
    if y == 0:
        raise ValueError("Cannot divide by zero")
    return x / y

try:
    result = divide(10, 0)
except ValueError as e:
    print("Error:", e)

Error: Cannot divide by zero

In [37]:
def divide(x, y):
    try:
        result = x / y
    except ZeroDivisionError:
        print("Cannot divide by zero")
        result = None
    finally:
        print("Division operation complete")

    return result

result1 = divide(10, 2)
print("Result 1:", result1)

result2 = divide(10, 0)
print("Result 2:", result2)

Division operation complete
Result 1: 5.0
Cannot divide by zero
Division operation complete
Result 2: None

In [38]:
def divide_numbers(num1, num2):
    if num2 == 0:
        raise ZeroDivisionError("Cannot divide by zero")
    else:
        result = num1 / num2
        return result


try:
    print(divide_numbers(10, 2))
    print(divide_numbers(5, 0))
except ZeroDivisionError:
    print("Error: Division by zero is not allowed")

5.0
Error: Division by zero is not allowed

In [39]:
class PalindromeError(Exception):
    pass

def is_palindrome(input_str):
    if not isinstance(input_str, str):
        raise PalindromeError("Input must be a string")


    clean_str = input_str.replace(" ", "").lower()


    if clean_str == clean_str[::-1]:
        return True
    else:
        return False


try:
    print(is_palindrome("racecar"))
    print(is_palindrome("A man a plan a canal Panama"))
    print(is_palindrome(123))
except PalindromeError as e:
    print(e)

True
True
Input must be a string

In [40]:
numbers = [10, 0, 5, 20, 3]

for num in numbers:
    try:
        result = num / 0
        print(f"{num} / 0 = {result}")
    except ZeroDivisionError:
        print(f"Error: Cannot divide {num} by zero")
    finally:
        print("Iteration completed")
        print("-----------------------")

print("End of script")

Error: Cannot divide 10 by zero
Iteration completed
-----------------------
Error: Cannot divide 0 by zero
Iteration completed
-----------------------
Error: Cannot divide 5 by zero
Iteration completed
-----------------------
Error: Cannot divide 20 by zero
Iteration completed
-----------------------
Error: Cannot divide 3 by zero
Iteration completed
-----------------------
End of script

In [41]:
def divide_numbers(num1, num2):
    try:
        result = num1 / num2
        print(f"{num1} / {num2} = {result}")
    except ZeroDivisionError:
        print(f"Error: Cannot divide {num1} by zero")
    finally:
        print("Division operation completed")

divide_numbers(10, 2)
divide_numbers(5, 0)

10 / 2 = 5.0
Division operation completed
Error: Cannot divide 5 by zero
Division operation completed

In [42]:
try:
    num_str = input("Enter a number: ")
    num = int(num_str)
    print("Integer value:", num)
except ValueError:
    print("Error: Could not convert '{}' to an integer.".format(num_str))

Enter a number: 4
Integer value: 4

import math

class NegativeNumberError(Exception):
    pass

def sqrt(num):
    if num < 0:
        raise NegativeNumberError("Cannot calculate square root of a negative number")
    return math.sqrt(num)

try:
    print(sqrt(25))
    print(sqrt(-4))
except NegativeNumberError as e:
    print(e)

SyntaxError: invalid syntax (<ipython-input-42-a5440d1bd59d>, line 8)

In [43]:
x = 5
y = "hello"
try:
    z = x + y
except TypeError:
    print("Error: cannot add an int and a str")

Error: cannot add an int and a str

In [44]:
a = [1, 2, 3]
try:
    print ("Second element = %d" %(a[1]))

    print ("Fourth element = %d" %(a[3]))

except:
    print ("An error occurred")

Second element = 2
An error occurred

In [45]:
def fun(a):
    if a < 4:

        b = a/(a-3)
    print("Value of b = ", b)

try:
    fun(3)
    fun(5)
except ZeroDivisionError:
    print("ZeroDivisionError Occurred and Handled")
except NameError:
    print("NameError Occurred and Handled")

ZeroDivisionError Occurred and Handled

In [46]:
def AbyB(a , b):
    try:
        c = ((a+b) / (a-b))
    except ZeroDivisionError:
        print ("a/b result in 0")
    else:
        print (c)
AbyB(2.0, 3.0)
AbyB(3.0, 3.0)

-5.0
a/b result in 0

In [47]:
try:
    k = 5//0
    print(k)

except ZeroDivisionError:
    print("Can't divide by zero")

finally:
    print('This is always executed')

Can't divide by zero
This is always executed

In [48]:
try:
    numerator = 10
    denominator = 0

    result = numerator/denominator

    print(result)
except:
    print("Error: Denominator cannot be 0.")

Error: Denominator cannot be 0.

In [49]:
try:

    even_numbers = [2,4,6,8]
    print(even_numbers[5])

except ZeroDivisionError:
    print("Denominator cannot be 0.")

except IndexError:
    print("Index Out of Bound.")

Index Out of Bound.

In [50]:

try:
    num = int(input("Enter a number: "))
    assert num % 2 == 0
except:
    print("Not an even number!")
else:
    reciprocal = 1/num
    print(reciprocal)

Enter a number: 0

ZeroDivisionError: division by zero

In [51]:
class InvalidAgeException(Exception):
    "Raised when the input value is less than 18"
    pass


number = 18

try:
    input_num = int(input("Enter a number: "))
    if input_num < number:
        raise InvalidAgeException
    else:
        print("Eligible to Vote")

except InvalidAgeException:
    print("Exception occurred: Invalid Age")

Enter a number: 18
Eligible to Vote

In [55]:
class SalaryNotInRangeError(Exception):


    def __init__(self, salary, message="Salary is not in (5000, 15000) range"):
        self.salary = salary
        self.message = message
        super().__init__(self.message)


salary = int(input("Enter salary amount: "))
if not 5000 < salary < 15000:
    raise SalaryNotInRangeError(salary)

Enter salary amount: 400000

SalaryNotInRangeError: Salary is not in (5000, 15000) range

In [57]:
class InvalidAgeException(Exception):
    "Raised when the input value is less than 18"
    pass

number = 18

try:
    input_num = int(input("Enter a number: "))
    if input_num < number:
        raise InvalidAgeException
    else:
        print("Eligible to Vote")

except InvalidAgeException:
    print("Exception occurred: Invalid Age")

Enter a number: 34
Eligible to Vote