<a href="https://colab.research.google.com/github/sharanya1234567/Sharanya-Vemula/blob/main/Day4(10_6_24).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### LIST

In [ ]:
fruits = ["apple", "banana", "cherry"]

fruits.append("orange")
print(f"Append: {fruits}")


fruits.insert(1, "grape")
print(f"Insert: {fruits}")


fruits.remove("banana")
print(f"Remove: {fruits}")


fruits_shallow_copy = fruits.copy()
fruits_shallow_copy[0] = "lemon"
print(f"Shallow Copy: {fruits_shallow_copy}, Original: {fruits}")


import copy
fruits_deep_copy = copy.deepcopy(fruits)
fruits_deep_copy[0] = "kiwi"
print(f"Deep Copy: {fruits_deep_copy}, Original: {fruits}")


fruits.append("apple")
apple_count = fruits.count("apple")
print(f"Count of 'apple': {apple_count}")

more_fruits = ["pear", "pineapple"]
fruits.extend(more_fruits)
print(f"Extend: {fruits}")

apple_index = fruits.index("apple")
print(f"Index of 'apple': {apple_index}")


fruits.sort()
print(f"Sort: {fruits}")


fruits.reverse()
print(f"Reverse: {fruits}")


fruits.clear()
print(f"Clear: {fruits}")


removed_fruit = more_fruits.pop()
print(f"Pop: {removed_fruit}, Remaining: {more_fruits}")

Append: ['apple', 'banana', 'cherry', 'orange']
Insert: ['apple', 'grape', 'banana', 'cherry', 'orange']
Remove: ['apple', 'grape', 'cherry', 'orange']
Shallow Copy: ['lemon', 'grape', 'cherry', 'orange'], Original: ['apple', 'grape', 'cherry', 'orange']
Deep Copy: ['kiwi', 'grape', 'cherry', 'orange'], Original: ['apple', 'grape', 'cherry', 'orange']
Count of 'apple': 2
Extend: ['apple', 'grape', 'cherry', 'orange', 'apple', 'pear', 'pineapple']
Index of 'apple': 0
Sort: ['apple', 'apple', 'cherry', 'grape', 'orange', 'pear', 'pineapple']
Reverse: ['pineapple', 'pear', 'orange', 'grape', 'cherry', 'apple', 'apple']
Clear: []
Pop: pineapple, Remaining: ['pear']

In [ ]:
squares = [x ** 2 for x in range(10)]
print("List of squares:", squares)


even_numbers = [x for x in range(20) if x % 2 == 0]
print("Even numbers:", even_numbers)


words = ["hello", "world", "python", "code"]
uppercased_words = [word.upper() for word in words]
print("Uppercased words:", uppercased_words)


number_square_pairs = [(x, x ** 2) for x in range(10)]
print("Number-Square pairs:", number_square_pairs)


nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_list = [item for sublist in nested_list for item in sublist]
print("Flattened list:", flattened_list)

List of squares: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
Even numbers: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
Uppercased words: ['HELLO', 'WORLD', 'PYTHON', 'CODE']
Number-Square pairs: [(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]
Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

# Accessing elements using positive indexing
first_fruit = fruits[0]
second_fruit = fruits[1]
last_fruit = fruits[-1]
print("First fruit:", first_fruit)
print("Second fruit:", second_fruit)
print("Last fruit:", last_fruit)

# Accessing elements using negative indexing
second_last_fruit = fruits[-2]
third_last_fruit = fruits[-3]
print("Second last fruit:", second_last_fruit)
print("Third last fruit:", third_last_fruit)

# Get the value of an element at a specific index
middle_fruit = fruits[2]
print("Middle fruit:", middle_fruit)

# Change the value of an element at a specific index
fruits[1] = "blueberry"
print("Updated fruits:", fruits)

First fruit: apple
Second fruit: banana
Last fruit: elderberry
Second last fruit: date
Third last fruit: cherry
Middle fruit: cherry
Updated fruits: ['apple', 'blueberry', 'cherry', 'date', 'elderberry']

In [ ]:
fruits = ["apple", "banana", "cherry", "date", "elderberry", "fig", "grape"]


subset1 = fruits[1:4]
print("Positive Slicing:", subset1)


subset2 = fruits[1:6:2]
print("Positive Slicing with Step:", subset2)

subset3 = fruits[-3:]
print("Negative Slicing:", subset3)


subset4 = fruits[-2:-5:-1]
print("Negative Slicing with Reverse:", subset4)


middle_subset = fruits[2:5]
print("Retrieve a Portion:", middle_subset)

fruits[1:3] = ["blueberry", "cranberry"]
print("Update a Slice:", fruits)


del fruits[2:4]
print("Delete a Slice:", fruits)


fruits[1:1] = ["kiwi", "mango"]
print("Insert into a Slice:", fruits)

Positive Slicing: ['banana', 'cherry', 'date']
Positive Slicing with Step: ['banana', 'date', 'fig']
Negative Slicing: ['elderberry', 'fig', 'grape']
Negative Slicing with Reverse: ['fig', 'elderberry', 'date']
Retrieve a Portion: ['cherry', 'date', 'elderberry']
Update a Slice: ['apple', 'blueberry', 'cranberry', 'date', 'elderberry', 'fig', 'grape']
Delete a Slice: ['apple', 'blueberry', 'elderberry', 'fig', 'grape']
Insert into a Slice: ['apple', 'kiwi', 'mango', 'blueberry', 'elderberry', 'fig', 'grape']

In [ ]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]


has_banana = "banana" in fruits
print("Is 'banana' in the list?", has_banana)

# Finding the index of an element
banana_index = fruits.index("banana")
print("Index of 'banana':", banana_index)

# Iterating through the list to find a specific element
element_to_find = "date"
found_element = None
for fruit in fruits:
    if fruit == element_to_find:
        found_element = fruit
        break
print("Found element:", found_element)

Is 'banana' in the list? True
Index of 'banana': 1
Found element: date

In [ ]:
from functools import reduce


numbers = [1, 2, 3, 4, 5]
sum_result = reduce(lambda x, y: x + y, numbers)
print("Sum using reduce:", sum_result)


max_result = reduce(lambda x, y: x if x > y else y, numbers)
print("Max value using reduce:", max_result)

squares = list(map(lambda x: x ** 2, [1, 2, 3, 4, 5]))
print("Squares using map:", squares)


words = ["apple", "banana", "cherry"]
uppercased = list(map(str.upper, words))
print("Uppercased words using map:", uppercased)


even_numbers = list(filter(lambda x: x % 2 == 0, [1, 2, 3, 4, 5, 6]))
print("Even numbers using filter:", even_numbers)


long_words = list(filter(lambda word: len(word) > 5, ["apple", "banana", "cherry", "date", "elderberry"]))
print("Long words using filter:", long_words)


fruits = ["apple", "banana", "cherry"]
quantities = [10, 20, 30]
fruit_quantities = list(zip(fruits, quantities))
print("Zipped lists:", fruit_quantities)

colors = ["red", "yellow", "red"]
fruit_colors_quantities = list(zip(fruits, colors, quantities))
print("Zipped three lists:", fruit_colors_quantities)

Sum using reduce: 15
Max value using reduce: 5
Squares using map: [1, 4, 9, 16, 25]
Uppercased words using map: ['APPLE', 'BANANA', 'CHERRY']
Even numbers using filter: [2, 4, 6]
Long words using filter: ['banana', 'cherry', 'elderberry']
Zipped lists: [('apple', 10), ('banana', 20), ('cherry', 30)]
Zipped three lists: [('apple', 'red', 10), ('banana', 'yellow', 20), ('cherry', 'red', 30)]

In [ ]:
languages = ['Python', 'Swift', 'C++']


print(languages[0])

print(languages[2])

Python
C++

In [ ]:
fruits = ['apple', 'banana', 'orange']
print('Original List:', fruits)


fruits.append('cherry')

print('Updated List:', fruits)

Original List: ['apple', 'banana', 'orange']
Updated List: ['apple', 'banana', 'orange', 'cherry']

In [ ]:
colors = ['Red', 'Black', 'Green']
print('Original List:', colors)

colors[2] = 'Blue'

print('Updated List:', colors)

Original List: ['Red', 'Black', 'Green']
Updated List: ['Red', 'Black', 'Blue']

In [ ]:
numbers = [2,4,7,9]


numbers.remove(4)

print(numbers)

[2, 7, 9]

In [ ]:
cars = ['BMW', 'Mercedes', 'Tesla']

print('Total Elements: ', len(cars))

Total Elements:  3

### TUPLE

In [ ]:
x= ("apple", "banana", "cherry", "apple", "cherry")
print(x)

thistuple = tuple(("apple", "banana", "cherry"))
print(len(thistuple))

('apple', 'banana', 'cherry', 'apple', 'cherry')
3

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

In [ ]:
q = tuple(("apple", "banana", "cherry"))
print(q)

w = ("apple", "banana", "cherry")
print(w[1])


e = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(e[2:5])

t= ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(t[:4])

le = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(le[-4:-1])

('apple', 'banana', 'cherry')
banana
('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('orange', 'kiwi', 'melon')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [ ]:
i = ("apple", "banana", "cherry")
for x in i:
  print(x)

apple
banana
cherry

In [ ]:
repeated_number = 5
repetitions = 3
repeated_tuple = tuple(range(repeated_number)) * repetitions

print("Tuple with repeated elements:", repeated_tuple)

tuple = ("apple", "banana", "cherry")
i = 0
while i < len(tuple):
  print(tuple[i])
  i = i + 1

Tuple with repeated elements: (0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4)
apple
banana
cherry

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

joined_tuple = tuple1 + tuple2

print("Joined tuple:", joined_tuple)

Joined tuple: (1, 2, 3, 4, 5, 6)

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
my_list = ['apple', 'banana', 'cherry', 'date']
print(my_list[:2])
print(my_list[2:])


numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[1:4] = [10, 20, 30]
print(numbers)

numbers[4:4] = [40, 50]
print(numbers)

['apple', 'banana']
['cherry', 'date']
[1, 10, 20, 30, 5, 6, 7, 8, 9]
[1, 10, 20, 30, 40, 50, 5, 6, 7, 8, 9]

In [ ]:
Tuple1 = (0, 1, 2, 3, 2, 3, 1, 3, 2)
Tuple2 = ('python', 'geek', 'python','for', 'java', 'python')

res = Tuple1.count(3)
print('Count of 3 in Tuple1 is:', res)

res = Tuple2.count('python')
print('Count of Python in Tuple2 is:', res)



Tuple = (0, 1, (2, 3), (2, 3), 1, [3, 2], 'geeks', (0,))

res = Tuple.count((2, 3))
print('Count of (2, 3) in Tuple is:', res)


res = Tuple.count([3, 2])
print('Count of [3, 2] in Tuple is:', res)


3.
fruits_tuple = ("apple", "banana", "orange", "apple", "grape")
apple_count = fruits_tuple.count("apple")
print("Number of apples:", apple_count)


4.
numbers_tuple = (1, 2, 3, 2, 1, 4)
count_1 = numbers_tuple.count(1)
count_2 = numbers_tuple.count(2)
print("Count of 1:", count_1)
print("Count of 2:", count_2)

Count of 3 in Tuple1 is: 3
Count of Python in Tuple2 is: 3
Count of (2, 3) in Tuple is: 2
Count of [3, 2] in Tuple is: 1
Number of apples: 2
Count of 1: 2
Count of 2: 2

In [ ]:
fruits_tuple = ("apple", "banana", "cherry", "banana")


index_of_banana = fruits_tuple.index("banana")
print(index_of_banana)

try:
  index_of_mango = fruits_tuple.index("mango")
except ValueError:
  print("Element 'mango' not found in the tuple")

1
Element 'mango' not found in the tuple

In [ ]:
numbers_list = [1, 5, 2, 8, 3]
largest = max(numbers_list)
print("Largest number:", largest)

numbers_tuple = (10, 20, 30)
largest = max(numbers_tuple)
print("Largest number in tuple:", largest)

Largest number: 8
Largest number in tuple: 30

In [ ]:
numbers_list = [1, 5, 2, 8, 3]
smallest = min(numbers_list)
print("Smallest number:", smallest)  # Output: Smallest number: 1

numbers_tuple = (10, 20, 30)
smallest = min(numbers_tuple)
print("Smallest number in tuple:", smallest)

Smallest number: 1
Smallest number in tuple: 10

In [ ]:
numbers_list = [1, 5, 2, 8, 3]
sorted_list = sorted(numbers_list)
print("Sorted list:", sorted_list)  # Output: Sorted list: [1, 2, 3, 5, 8]

numbers_tuple = (10, 20, 30, 4, 5)
sorted_tuple = sorted(numbers_tuple)
print("Sorted tuple:", sorted_tuple)

Sorted list: [1, 2, 3, 5, 8]
Sorted tuple: [4, 5, 10, 20, 30]

In [ ]:
fruits_list = ["apple", "banana", "cherry"]
fruits_tuple = ("mango", "kiwi", "grape")

smallest_fruit_list = min(fruits_list)
smallest_fruit_tuple = min(fruits_tuple)

print("Smallest fruit in list:", smallest_fruit_list)
print("Smallest fruit in tuple:", smallest_fruit_tuple)

Smallest fruit in list: apple
Smallest fruit in tuple: grape

In [ ]:
numbers_list = [1, 5, 2, 8]
numbers_tuple = (3, 7, 9, 0)

largest_number_list = max(numbers_list)
largest_number_tuple = max(numbers_tuple)

print("Largest number in list:", largest_number_list)
print("Largest number in tuple:", largest_number_tuple)

Largest number in list: 8
Largest number in tuple: 9

In [ ]:
numbers_list = [4, 7, 2, 11]
numbers_tuple = (6, 3, 8, 1)

list_sum = sum(numbers_list)
tuple_sum = sum(numbers_tuple)

print("Sum of list elements:", list_sum)
print("Sum of tuple elements:", tuple_sum)

Sum of list elements: 24
Sum of tuple elements: 18

### DICTIONARY

In [3]:
empty_dict = dict()

person = {'name': 'John', 'age': 30, 'city': 'New York'}
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [2]:
print(person['name'])
print(person.get('age'))

person['age'] = 31

John
30

In [4]:
person = {
    'name': 'John Doe',
    'age': 30,
    'address': {
        'street': '123 Main St',
        'city': 'New York',
        'state': 'NY'
    }
}


print(person['name'])
print(person['address']['city'])

John Doe
New York

In [8]:
config = {
    'debug': True,
    'log_file': 'app.log',
    'database': {
        'host': 'localhost',
        'user': 'root',
        'password': 'secret'
    }
}
debug_mode = config['debug']
log_file = config['log_file']
db_host = config['database']['host']
db_user = config['database']['user']
db_password = config['database']['password']

In [9]:
sentence = "Hello, world! Hello, Python!"
word_counts = {}

for word in sentence.split():
    if word in word_counts:
        word_counts[word] += 1
    else:
        word_counts[word] = 1

print(word_counts)

{'Hello,': 2, 'world!': 1, 'Python!': 1}

In [10]:
data = [
    {'name': 'John', 'age': 25, 'city': 'New York'},
    {'name': 'Jane', 'age': 30, 'city': 'Los Angeles'},
    {'name': 'Bob', 'age': 35, 'city': 'Chicago'}
]


filtered_data = [person for person in data if person['age'] > 30]
print(filtered_data)


grouped_data = {}
for person in data:
    city = person['city']
    if city in grouped_data:
        grouped_data[city].append(person)
    else:
        grouped_data[city] = [person]

print(grouped_data)

[{'name': 'Bob', 'age': 35, 'city': 'Chicago'}]
{'New York': [{'name': 'John', 'age': 25, 'city': 'New York'}], 'Los Angeles': [{'name': 'Jane', 'age': 30, 'city': 'Los Angeles'}], 'Chicago': [{'name': 'Bob', 'age': 35, 'city': 'Chicago'}]}

In [11]:
keys = person.keys()
print(keys)

dict_keys(['name', 'age', 'city'])

In [12]:
values = person.values()
print(values)

dict_values(['Bob', 35, 'Chicago'])

In [13]:
items = person.items()
print(items)

dict_items([('name', 'Bob'), ('age', 35), ('city', 'Chicago')])

In [14]:
print(person.get('Name'))
print(person.get('phonenumber', 0))

None
0

In [15]:
my_dict = {'apple': 1, 'banana': 2, 'orange': 3}
removed_value = my_dict.pop('banana')
print(removed_value)
print(my_dict)

2
{'apple': 1, 'orange': 3}

In [16]:
my_dict.clear()
print(my_dict)

{}

In [17]:
new_dic = person.copy()
print(new_dic)

{'name': 'Bob', 'age': 35, 'city': 'Chicago'}

In [22]:
numbers = [1, 2, 3, 4, 5]


squares = {num: num**2 for num in numbers}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [23]:
original = {'a': 1, 'b': 2, 'c': 3}

swapped = {value: key for key, value in original.items()}
print(swapped)

{1: 'a', 2: 'b', 3: 'c'}

In [24]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_cubes = {num: num**3 for num in numbers if num % 2 == 0}
print(even_cubes)

{2: 8, 4: 64, 6: 216, 8: 512, 10: 1000}

In [25]:
keys = ['a', 'b', 'c', 'd', 'e']

values = [1, 2, 3, 4, 5]

new_dict = {key: value for key, value in zip(keys, values)}
print(new_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [26]:
person = {
    'name': 'John',
    'age': 30,
    'contact': {
        'email': 'john@example.com',
        'phone': '123-456-7890'
    }
}

print(person['contact']['email'])

john@example.com

In [27]:
sentence = "Hello, world! Hello, Python!"
word_counts = {}

for word in sentence.split():
    if word in word_counts:
        word_counts[word] += 1
    else:
        word_counts[word] = 1

print(word_counts)

{'Hello,': 2, 'world!': 1, 'Python!': 1}

In [28]:
data = [
    {'name': 'John', 'age': 25, 'city': 'New York'},
    {'name': 'Jane', 'age': 30, 'city': 'Los Angeles'},
    {'name': 'Bob', 'age': 35, 'city': 'Chicago'}
]

filtered_data = [person for person in data if person['age'] > 30]
print(filtered_data)

[{'name': 'Bob', 'age': 35, 'city': 'Chicago'}]

In [29]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

set1 = set(list1)
set2 = set(list2)

common_elements = set1.intersection(set2)
print(common_elements)

elements = [1, 2, 3, 1, 2, 4, 5, 5]
unique_counts = {element: elements.count(element) for element in set(elements)}
print(unique_counts)

{4, 5}
{1: 2, 2: 2, 3: 1, 4: 1, 5: 2}

In [30]:
data = [
    {"name": "Alice", "age": 25, "city": "New York"},
    {"name": "Bob", "age": 30, "city": "Chicago"},
    {"name": "Charlie", "age": 35, "city": "New York"},
    {"name": "David", "age": 40, "city": "Chicago"}
]


grouped_data = {}
for person in data:
    city = person["city"]
    if city in grouped_data:
        grouped_data[city].append(person)
    else:
        grouped_data[city] = [person]

print(grouped_data)

{'New York': [{'name': 'Alice', 'age': 25, 'city': 'New York'}, {'name': 'Charlie', 'age': 35, 'city': 'New York'}], 'Chicago': [{'name': 'Bob', 'age': 30, 'city': 'Chicago'}, {'name': 'David', 'age': 40, 'city': 'Chicago'}]}

In [31]:
data = [
    {"name": "Alice", "age": 25, "city": "New York"},
    {"name": "Bob", "age": 30, "city": "Chicago"},
    {"name": "Charlie", "age": 35, "city": "New York"},
    {"name": "David", "age": 40, "city": "Chicago"}
]

# Filtering data based on age
filtered_data = [person for person in data if person["age"] > 30]

print(filtered_data)

[{'name': 'Charlie', 'age': 35, 'city': 'New York'}, {'name': 'David', 'age': 40, 'city': 'Chicago'}]

In [32]:
data = [
    {"name": "Alice", "age": 25, "city": "New York"},
    {"name": "Bob", "age": 30, "city": "Chicago"},
    {"name": "Charlie", "age": 35, "city": "New York"},
    {"name": "David", "age": 40, "city": "Chicago"}
]


city_ages = {}
for person in data:
    city = person["city"]
    age = person["age"]
    if city in city_ages:
        city_ages[city].append(age)
    else:
        city_ages[city] = [age]

average_ages = {city: sum(ages) / len(ages) for city, ages in city_ages.items()}

print(average_ages)

{'New York': 30.0, 'Chicago': 35.0}

In [33]:
sentence = "Hello, world! Hello, Python!"
word_counts = {}
for word in sentence.split():
    if word in word_counts:
        word_counts[word] += 1
    else:
        word_counts[word] = 1
print(word_counts)

{'Hello,': 2, 'world!': 1, 'Python!': 1}

In [34]:
config = {
    'database': {
        'host': 'localhost',
        'user': 'root',
        'password': 'secret'
    },
    'server': {
        'port': 8000,
        'enabled': True
    }
}
print(config['database'])
print(config['server'])

{'host': 'localhost', 'user': 'root', 'password': 'secret'}
{'port': 8000, 'enabled': True}

In [35]:
def merge_dicts(dict1, dict2):
    merged = dict1.copy()
    merged.update(dict2)
    return merged

dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
merged_dict = merge_dicts(dict1, dict2)
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

In [36]:
def sort_dict_by_value(dictionary):
    sorted_dict = dict(sorted(dictionary.items(), key=lambda x: x[1]))
    return sorted_dict

unsorted_dict = {'b': 2, 'a': 1, 'c': 3}
sorted_dict = sort_dict_by_value(unsorted_dict)
print(sorted_dict)

{'a': 1, 'b': 2, 'c': 3}

In [37]:
def remove_duplicate_values(dictionary):
    unique_values = {}
    for key, value in dictionary.items():
        if value not in unique_values.values():
            unique_values[key] = value
    return unique_values

original_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3, 'e': 2}
unique_dict = remove_duplicate_values(original_dict)
print(unique_dict)

{'a': 1, 'b': 2, 'd': 3}

In [38]:
def group_by_key(data, key):
    grouped = {}
    for item in data:
        value = item[key]
        if value in grouped:
            grouped[value].append(item)
        else:
            grouped[value] = [item]
    return grouped

data = [
    {'name': 'Alice', 'age': 25, 'city': 'New York'},
    {'name': 'Bob', 'age': 30, 'city': 'Chicago'},
    {'name': 'Charlie', 'age': 35, 'city': 'New York'},
    {'name': 'David', 'age': 40, 'city': 'Chicago'}
]

grouped_by_city = group_by_key(data, 'city')
print(grouped_by_city)

{'New York': [{'name': 'Alice', 'age': 25, 'city': 'New York'}, {'name': 'Charlie', 'age': 35, 'city': 'New York'}], 'Chicago': [{'name': 'Bob', 'age': 30, 'city': 'Chicago'}, {'name': 'David', 'age': 40, 'city': 'Chicago'}]}

### SET

In [39]:
my_set = {1, 2, 3, 4, 5}

another_set = set([4, 5, 6, 7, 8])


print("Set created using '{}' curly brackets:",my_set)
print("Set created using set constructor:",another_set)

Set created using '{}' curly brackets: {1, 2, 3, 4, 5}
Set created using set constructor: {4, 5, 6, 7, 8}

In [40]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print("Union:",union_set)

Union: {1, 2, 3, 4, 5}

In [41]:
grocery_list = {"apples", "bananas", "milk", "bread"}
household_list = {"detergent", "paper towels", "milk", "bread"}

shopping_list = grocery_list | household_list

print("Shopping list:",shopping_list)

Shopping list: {'bread', 'bananas', 'paper towels', 'apples', 'detergent', 'milk'}

In [42]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1 & set2
print("Intersection:",intersection_set)

Intersection: {3}

In [43]:
hiking_group = {"hiking", "camping", "outdoors"}
photography_group = {"photography", "editing", "hiking"}

common_interests = hiking_group & photography_group

print("Common interests of both the group:",common_interests)

Common interests of both the group: {'hiking'}

In [44]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1 - set2
print("Difference:",difference_set)

Difference: {1, 2}

In [45]:
recommended_books = {"The Catcher in the Rye", "1984", "To Kill a Mockingbird", "Harry Potter"}
read_books = {"1984", "Harry Potter"}

unread_books = recommended_books - read_books

print("Books that already read:",unread_books)

Books that already read: {'To Kill a Mockingbird', 'The Catcher in the Rye'}

In [46]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
symmetric_difference_set = set1 ^ set2
print("Symmetric Difference:",symmetric_difference_set)

Symmetric Difference: {1, 2, 4, 5}

In [47]:
restaurant1_menu = {"pizza", "pasta", "salad", "garlic bread"}
restaurant2_menu = {"pasta", "burger", "fries", "ice cream"}

unique_choices = restaurant1_menu ^ restaurant2_menu

print("Unique Dishes:",unique_choices)

Unique Dishes: {'fries', 'salad', 'ice cream', 'burger', 'garlic bread', 'pizza'}

In [48]:
my_set = {1, 2, 3}
print("Before add():",my_set)
my_set.add(4)
print("After add():",my_set)

Before add(): {1, 2, 3}
After add(): {1, 2, 3, 4}

In [49]:
my_set = {1, 2, 3}
print("Before remove():",my_set)
my_set.remove(2)
print("After remove():",my_set)

Before remove(): {1, 2, 3}
After remove(): {1, 3}

In [50]:
my_set = {1, 2, 3}
print("Before pop():",my_set)
removed_element = my_set.pop()
print("After pop():",removed_element)

Before pop(): {1, 2, 3}
After pop(): 1

In [51]:
my_set = {1, 2, 3}
print("Before clear():",my_set)
my_set.clear()
print("After clear():",my_set)

Before clear(): {1, 2, 3}
After clear(): set()

In [52]:
my_set = {1, 2, 3}
print("Before copy():",my_set)
copied_set = my_set.copy()
print("After copy():",copied_set)

Before copy(): {1, 2, 3}
After copy(): {1, 2, 3}

In [53]:
my_set = {1, 2, 3}
print("Before update():",my_set)
my_set.update([4, 5])
print("After update():",my_set)

Before update(): {1, 2, 3}
After update(): {1, 2, 3, 4, 5}

In [54]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}
result = set1.issubset(set2)
print(result)

True

In [55]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
result = set1.isdisjoint(set2)
print(result)

True

In [56]:
my_set = {1, 2, 3, 4, 5}


print(3 in my_set)
print(6 in my_set)

True
False

In [57]:
squares = {x * x for x in range(1, 6)}
print(squares)

{1, 4, 9, 16, 25}

In [58]:
even_squares = {x * x for x in range(1, 6) if x % 2 == 0}
print(even_squares)

{16, 4}

In [59]:
user_interests = {
    'Alice': {'sports', 'music', 'reading'},
    'Bob': {'movies', 'music', 'gaming'},
    'Charlie': {'sports', 'music', 'cooking'},
    'David': {'sports', 'traveling', 'photography'},
    'Emma': {'music', 'reading', 'cooking'}
}

unique_interests = {interest for interests in user_interests.values() for interest in interests}

print("Unique Interests:",unique_interests)

Unique Interests: {'reading', 'movies', 'sports', 'photography', 'cooking', 'gaming', 'traveling', 'music'}

In [60]:
set1 = {1, 2}
set2 = {'a', 'b', 'c'}
cartesian_product = {(x, y) for x in set1 for y in set2}
print(cartesian_product)

{(2, 'c'), (1, 'a'), (2, 'b'), (1, 'b'), (1, 'c'), (2, 'a')}

In [61]:
def power_set(s):
    if len(s) == 0:
        return {frozenset()}
    element = s.pop()
    subsets = power_set(s)
    return subsets.union({subset.union({element}) for subset in subsets})

my_set = {1, 2, 3}
print(power_set(my_set))

{frozenset({2}), frozenset({2, 3}), frozenset({1, 2, 3}), frozenset({1, 2}), frozenset({3}), frozenset({1}), frozenset(), frozenset({1, 3})}

In [62]:
my_set = {1, 2, 3}
frozen_set = frozenset(my_set)
print(frozen_set)

frozenset({1, 2, 3})

In [63]:
from sympy import BooleanAlgebra

ba = BooleanAlgebra()
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection = ba.intersection(set1, set2)
print(intersection)


union = ba.union(set1, set2)
print(union)


complement = ba.complement(set1, set2)
print(complement)

ImportError: cannot import name 'BooleanAlgebra' from 'sympy' (/usr/local/lib/python3.10/dist-packages/sympy/__init__.py)